* {
  margin:0;
}


canvas {
  display: inline-block;
  background-image: url(/src/screens/canvas/images/background.jpg)
}

#canvasSmall {
  float: left;
}

* {
  margin: 0px;
  padding: 0px;
}

body{
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  font-size: 1em;
  position: relative;
}


header {
  height: 48px;
  background: #2D2D2D;
  line-height: 46px;
}

h1{
  font-size: 1.500em;
  color: white;
  vertical-align: middle;
  padding-left: 29px;
}

.main {
  height: 400px;
  background: #525252;
  display: grid;
  grid-template-columns: 200px 30% 30px 1fr ;
  grid-template-rows: 10px 1fr 1fr;
  grid-template-areas:
  ". . . ."
  ". description . image-block  "
  ". description . image-block ";
 
}
.description {
  width: 100%;
  display: inline-block; 
  grid-area: description;
  padding-top: 40px;
}


.description p { 
  color: white;
  font-size: 25px;
  display: inline-block;
}

.description p:first-child {
  font-size: 35px;
  padding-bottom: 10px;
  
}
.description p:nth-child(2) { 
  padding-bottom: 15px;
}

.description a {
  height: 40px;
  line-height: 50px;
  background: gold;
  font-size: 2em;
  text-shadow: none;
  white-space: nowrap;  
  display: inline-block;  
  line-height: 35px;
  padding: 0 10px;
  border-style: none;
  border-radius: 2px;
  cursor: pointer; 
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: gold;
  transition: 0.3s background-color;
}

.description a:hover {
background: white;
}


.program-image{  
  width: 500px;  
  display: inline-block;
  grid-area: image-block;
}

.program-image img{
  width: 690px;  
  display: inline-block;
}

.examples {
  margin: 0 auto;
  color: white;
  background: #212121;
  height: 400px;
  width: 100%;
}

.examples-block{
  margin:0 auto;
  max-width: 700px;
  width: 100%;
  padding-top: 3%;
}

.examples-block p:nth-child(1){
  font-size: 30px;
  margin-bottom: 10px;
}

.example-block-gifs img{
  width: 160px;
  display: inline-block;
  padding-top: 10px;
}

footer {
  height: 121px;
  background: #111111;
}

.git {
  margin: 0 auto;
  width: 500px;  
  padding-top: 50px;
}
.git-text{
  display: inline-block;
  width: 400px;
  padding-top: -20px;
  vertical-align: middle;
  margin-left: 5px;
 
 
}
.git-text p { 
  color: white;
  display: inline-block;
  margin-top: -20px;
  vertical-align: middle;
 
}
.git-text p a { 
  text-decoration: none;
  color:white;
}

.git-text p:first-child{
  width: 50px;
}

.git img {
  width: 30px;
  background: white;
  border-radius: 5px;
  display:inline-block;
}


@media screen and (max-width:1440px){
  .main {
    grid-template-columns: 20px 30% 30px 1fr ;
    grid-template-rows: 10px 1fr 1fr;
    grid-template-areas:
    ". . . ."
    ". description . image-block  "
    ". description . image-block ";
   
  }
}